.id-verification-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* center items on the cross-axis */
  justify-content: center; /* center items on the main axis */
  height: 100vh; /* take up the full height of the viewport */
  text-align: center;
  height: 500px;

}

.webcam-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.webcam {
  z-index: 1;
}

.circle {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  border-radius: 50%; /* this makes it a circle */
  border: 3px dashed #ffffff; /* Adjust this color to whatever you want the circle to be */
  opacity: 0.6;
}


.result-text {
  margin-top: 20px;
}


.webcam {
  width: 100%;
  z-index: 1;
}
