.variable-tag{
    background: #ffc803;
    padding: 2px 5px;
    color:#000 !important;
    font-weight: 500;
    border-radius: 6px;
    font-weight: 600 !important;
}

.ql-variable{
    float:left;
}