@heading-color: #2F2D51; // heading text color
@primary-color: #090761;
@border-radius-base:6px; // major border radius
@btn-height-base: 40px;
@text-color: #2F2D51;
@font-family: 'Jost';
@btn-font-weight: 600;
@input-height-base: 35px;
@layout-trigger-background-light: #fff;
@layout-body-background: #F7F9FB;
@layout-sider-background-light: #fff;
@layout-header-color: #fff;
@layout-sider-background-light: #fff;

@layout-header-background: #fff;
@btn-default-ghost-color: orange;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: orange;


@btn-ghost-color        : @text-color;
@btn-ghost-bg           : #FFC78B;
@btn-ghost-border       : #FFC78B;
