.ql-container {
    height:600px;
}

.resizable-image {
    position: relative;
    user-select: none;
    display: inline-block;
  }

  .variable {
    background: #ffc803;
    padding: 3px;
    border-radius: 8px;
  }