.se-variable{
    background: #ffc803;
    padding: 2px 5px !important;
    border-radius: 6px;
}

li.variable-li {
    padding: 5px 10px !important;
}

li.variable-li:hover {
    background: gainsboro;
}

.sun-editor .se-statusbar .se-resizing-bar .se-state {
    display: none;
}