
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.ant-layout-sider-children{
  padding-top: 60px !important;
}

.ant-layout-content{
  margin: 0 !important;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}

.ant-layout-sider-children {
  padding-top: 0 !important;
}

#root {
  min-height: 100%;
  width: 100%;
  height: 100%; /* NEW */
}



.ant-list-item-meta-content h4.ant-list-item-meta-title{
  margin-top: 0;
}

.ant-collapse-header-text h5{ 
  margin-top: 0;
}

.ql-container {
  min-height: 10rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

/* .ant-upload-wrapper.ant-upload-picture-card-wrapper{
  width: auto !important;
} */